@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

html,
body {
  /* height:100%; */
  padding: 0;
  margin: 0;
    background-color: #f8f1e7;
    font-family: "Montserrat", sans-serif;
    color: #18110d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.window {
  min-height: 100vh;
  max-height: 100vmax;
  background: transparent;
  /* opacity: 0.5; */
}

.content h1 {
  font-weight: 900;
}

.content h2 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 5px !important;
  margin-bottom: 40px !important;
}

.content .firsthead {
    font-weight: 500;
  }

a {
  color: #f8f1e7!important;
  text-decoration: none!important;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #f8f1e7;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
}

.homebg {
  max-width: 100%;
  height: -webkit-fill-available;
}

.whitelist {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    transition: 0.5s;
    margin: 10px;
    background-color: #9f734c;
    border: 1px solid #f8f1e7;
    color: #f8f1e7;
    width: 150px;
    /* float: left; */
}
  
.whitelist:hover{
background-color: #795A4B;
}

.sec-h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 6px;
    color: white;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.sec2-h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 6px;
  color: #9f734c;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.sec4-h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 6px;
  color: #9f734c;
  font-weight: 600;
  text-align: left;
  margin-bottom: 30px;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-2 {
    background-image: url(../images/sec.png);
    background-color: rgba(0, 0, 0, 0.4);
}

.card {
  background-color: rgba(0,0,0,0.5) !important;
}

.cardimage {
  position: absolute;
  right: 20px;
  top: 5px;
}

.cardimage img {
  margin-left: 10px;
}

.h5, h5 {
  font-size: 1.05rem;
  text-align: center;
  color: #f8f1e7;
}

.card-text:last-child {
  margin-bottom: 0;
  text-align: center;
  color: #f8f1e7
}

.sec-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #f8f1e7;
}

.releases {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  transition: 0.5s;
  margin: 10px;
  background-color: #9f734c;
  border: 1px solid #f8f1e7;
  color: #f8f1e7;
  width: 180px;
  /* float: left; */
}

.releases:hover{
  background-color: #795A4B;
}

.section-3 {
  background: #1e1c1a;
}

.sec2-h1 + p {
  text-align: center;
  color: #f8f1e7;
}

.sec2-h1 + .sec-p {
  text-align: center;
  color: #1e1c1a;
}

.update-headline h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
}

.sec4bg {
  background-image: url(../images/benefits.png);
  background-repeat: no-repeat;
}

.section-5 {
  background-image: url(../images/chart.jpg);
  background-color: rgba(0, 0, 0, 0.4);
}

.register {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  transition: 0.5s;
  margin: 10px;
  background-color: #9f734c;
  border: 1px solid #f8f1e7;
  color: #f8f1e7;
  width: 170px;
}

.register:hover{
  background-color: #795A4B;
}

.countdownContainer {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.list {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: #f8f1e7;
}

.list span {
  display: block;
  font-size: 4.5rem;
  color: #f8f1e7;
}

.submit {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  transition: 0.5s;
  margin: 10px;
  background-color: #9f734c;
  border: 1px solid #f8f1e7;
  color: #f8f1e7;
  width: 110px;
  /* float: left; */
}

.submit:hover{
  background-color: #795A4B;
}